.bn-onboard-custom.bn-onboard-modal {
  font-family: Roboto Mono;
  z-index: 10;
}

.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-root.Mui-selected {
  background-color: #ed7a5d;
  color: #ffffff;
}
